<h1>Subscribe to my newsletter</h1>


<%= form_tag "/subscribe" do %>
<div>
	<%= label_tag "Name:" %>
	<%= text_field_tag :name %>
</div>
<div>
	<%= label_tag "Email:" %>
	<%= email_field_tag :email %>
</div>
<%= submit_tag "Contact Us" %>

<% end %>
